# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Python cache
.pytest_cache/
.mypy_cache/
.pyre/
.ruff_cache/

# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Build files
# ==========================
dist/
build/